section { 
  height: 100vh; 
  font-family: 'Oxygen', sans-serif;
  vertical-align: middle;
  display: table;
  width: 100%
}


.map-canvas{
    height: 70%;
    width: 80%;
    margin: auto

}

.cover h1 {
    padding-top: 30vh;
  }

.content h1{
  padding: 5vh;
}



/*button*/
.btn-square{
  border-radius: 0 !important;
}

button > .btn-theme {
  background: white !important;
  border: black !important; }





/*styling for scroll spy*/

.scroll-item-container {
  width: 100%;
  margin-top: 50%;
}

.scroll-item {
  /*background: #333;*/
  margin: 0 auto 50px;
  /*min-height: 800px;*/
  /*width: 50%;*/
}

.scroll-nav-container {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
     -moz-transform: translate3d(0, -50%, 0);
       -o-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}

.scroll-nav-item {
  background: #333;
  border: 2px solid #eee;
  border-radius: 50%;
  color: #333;
  display: block;
  font-size: 0.8em;
  height: 20px;
  margin: 5px;
  text-align: right;
  text-decoration: none;
  width: 20px;
}

.scroll-nav-item:before {
  content: attr(title);
  position: absolute;
  right: 100%;
  margin-top: 2px;
  opacity: 0;
}

.scroll-nav-item.active {
  background: red;
  color: red;
}

.scroll-nav-item.active:before {
  opacity: 1;
}