@font-face{
	font-family: latolight;
	src: url('../fonts/Lato-Light.ttf');
}

.icons{
	height: 48px;
	width: 48px;
}

/*body{*/
	/*background-color: grey;
	background-image: url("background2.jpg") !important;
}*/
body{
	height:100%;
}

header{
	/*display: block;*/
	/*height: 1000px;*/
	/*height: 395px;*/
	min-height: 100%;
	width: 100%;
	background: url('../img/background3.svg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
}

p{
	font-size: 18px;
	font-family: 'latolight';
}

p a{
	color: purple;
}

p a:hover{
	color: magenta	;
}

h2{
	font-weight: bold;
	/*text-decoration: underline;*/
}

h3{
	font-family: : 'latolight';
}
/*
.headerContainer{
	width: 100%;
	height: 100%;
}*/

.headerNav{
	z-index: 1;
	background: white transparent!imporant
}
.headerTitle{
	position: relative;
	top: 25%;
	/*left: 0%;*/
	color: white !important;
	font-size: 40px;
	font-family: sans-serif;
}
.headerFont{
	color: white !important;
}
.menu{
	list-style-type: none;
	margin: 0;
}

br{
	background: url('../img/pebbles.svg');
	background-size: cover;
}

.dark {
	/*background: url('../img/background3.svg');
	background-size: cover;*/
}

header a{
	color: white !important;
}
header a:hover{
	color: black !important;
	    background-color: #e7e7e7;
}

.work img{
	width: 150px;
	height: 150px;
}

#work-bdo{
	background: url('../img/bdosys.png');
	background-size: 150px 150px !important;
	width: 150px;
	height: 150px;
}
#work-bdo:hover{
	background: url('../img/bdosys_hover.png') !important;
	background-size: 150px 150px !important;
	width: 150px;
	height: 150px;
}

#work-asigra{
	background: url('../img/asigra_1.png');
	background-size: 150px 150px !important;
	width: 150px;
	height: 150px
}
#work-asigra:hover{
	background: url('../img/asigra_hover.png');
	background-size: 150px 150px !important;
	width: 150px;
	height: 150px
};