$primary-color: #777;
$title-color: #000;
$clicker-color: rgba(96, 71, 0, 1);
$github-color: #9B59B6;
$linkedin-color: #3498db;
$email-color: #7f8c8d;
$resume-color: #c0392b;

$primary-font-size: 400 15px/1.8;
// @import url(http://fonts.googleapis.com/css?family=Anonymous+Pro);


body, html {
    height: 100%;
    margin: 0;
    font: $primary-font-size "Lato", sans-serif;
    color: $primary-color;   
}


.title {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
    color: $title-color;
    span.main {
            background-color: #111;
            color: #fff;
            padding: 18px;
            font-size: 25px;
            letter-spacing: 10px;
    }
    .line-1{
        // padding: 10px;
        position: relative;
        top: 60%;  
        width: 20em;
        margin: 10px auto;
        border-right: 5px solid rgba(255,255,255,.75);
        font-size: 18px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        color: white;
        // transform: translateY(-50%);    
    }
}

// from template
 .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:right;
    .source{
        position: fixed;
        top: 95%;
        width:100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        background-attachment: fixed;
        color: white;
        div {
        //     // color: $primary-color !important;
            padding: 10px;
        }
    }
    // z-index: 1;
}
.bgimg-1 {
    background-image: url("../images/IMG_2481.JPG");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("../images/IMG_2484.JPG");
    min-height: 100%;    // min-height: 100px;
    .contact-row{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        position: absolute;
        left: 0;
        top: 10%;
        width: 100%;
        .contact {
            // width: 100%;
            text-align: left;
            color: $title-color;
            span.header {
                    background-color: #111;
                    color: #fff;
                    padding: 18px;
                    font-size: 25px;
                    letter-spacing: 10px;
            }
        }
        .contact-column {
            display: flex;
            flex-direction: column;
            margin-right: 25%;
            div {
                margin: 10% auto;
                color: $title-color;
                font-size: 18px;
                letter-spacing: 6px;
                width: 200px;
                text-align: center;
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
            .github {
                padding:  18px;
                width: 200px;
                background-color: $github-color;
                color: #fff;
            }
            .linkedin {
                padding:  18px;
                width: 200px;
                background-color: $linkedin-color;
                color: #fff;
            }
            .email {
                padding:  18px;
                width: 200px;
                background-color: $email-color;
                color: #fff;
            }
            .resume {
                padding:  18px;
                width: 200px;
                background-color: $resume-color;
                color: #fff;
            }
        }
    }
}

.bgimg-3 {
    min-height: 400px;
    background-image: url("../images/argyle.jpg");
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.work-row {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: left;
    .company {
        background-color: #111;
        color: #fff;
        padding: 18px;
        font-size: 25px;
        // letter-spacing: 10px;
        width: 200px;
        margin-left: 10%;
    }
    .description {
        margin-top: 10%;
    }
}

// .work {
//     text-align: left;
//     color: $title-color;
// }

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

.divider {
    color: $primary-color;
    background-color: white;
    text-align:center;
    padding:25px 80px;
    text-align: justify;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(40) 1s 1 normal both,
            blinkTextCursor 500ms steps(40) infinite normal;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 18em;}
}
@keyframes blinkTextCursor{
    // from{border-right-color: $clicker-color}
    from{border-right-color: orange}
    to{border-right-color: transparent;}
}