body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777; }

a {
  text-decoration: none; }

.title {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #000; }
  .title span.main {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px; }
  .title .line-1 {
    position: relative;
    top: 60%;
    width: 20em;
    margin: 10px auto;
    border-right: 5px solid rgba(255, 255, 255, 0.75);
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    color: white; }

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right; }
  .bgimg-1 .source, .bgimg-2 .source, .bgimg-3 .source {
    position: fixed;
    top: 95%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    background-attachment: fixed;
    color: white; }
    .bgimg-1 .source div, .bgimg-2 .source div, .bgimg-3 .source div {
      padding: 10px; }

.bgimg-1 {
  background-image: url("../images/IMG_2481.JPG");
  min-height: 100%; }

.bgimg-2 {
  background-image: url("../images/IMG_2484.JPG");
  min-height: 100%; }
  .bgimg-2 .contact-row {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    height: 70%; }
    .bgimg-2 .contact-row .contact {
      text-align: center;
      color: #000; }
      .bgimg-2 .contact-row .contact .header {
        background-color: #111;
        color: #fff;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 10px; }
    .bgimg-2 .contact-row .link-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      width: 100%;
      text-align: center; }
      .bgimg-2 .contact-row .link-row div {
        color: #000;
        font-size: 18px;
        letter-spacing: 6px;
        width: 200px;
        text-align: center; }
        .bgimg-2 .contact-row .link-row div a {
          color: #fff;
          text-decoration: none; }
      .bgimg-2 .contact-row .link-row .contact-button {
        margin-top: 10%; }
      .bgimg-2 .contact-row .link-row .github {
        padding: 18px;
        width: 200px;
        background-color: #9B59B6;
        color: #fff; }
      .bgimg-2 .contact-row .link-row .linkedin {
        padding: 18px;
        width: 200px;
        background-color: #3498db;
        color: #fff; }
      .bgimg-2 .contact-row .link-row .email {
        padding: 18px;
        width: 200px;
        background-color: #7f8c8d;
        color: #fff; }
      .bgimg-2 .contact-row .link-row .resume {
        padding: 18px;
        width: 200px;
        background-color: #c0392b;
        color: #fff; }
    .bgimg-2 .contact-row .contact-column {
      display: flex;
      flex-direction: column;
      margin-right: 25%; }
      .bgimg-2 .contact-row .contact-column div {
        margin: 10% auto;
        color: #000;
        font-size: 18px;
        letter-spacing: 6px;
        width: 200px;
        text-align: center; }
        .bgimg-2 .contact-row .contact-column div a {
          color: #fff;
          text-decoration: none; }
      .bgimg-2 .contact-row .contact-column .github {
        padding: 18px;
        width: 200px;
        background-color: #9B59B6;
        color: #fff; }
      .bgimg-2 .contact-row .contact-column .linkedin {
        padding: 18px;
        width: 200px;
        background-color: #3498db;
        color: #fff; }
      .bgimg-2 .contact-row .contact-column .email {
        padding: 18px;
        width: 200px;
        background-color: #7f8c8d;
        color: #fff; }
      .bgimg-2 .contact-row .contact-column .resume {
        padding: 18px;
        width: 200px;
        background-color: #c0392b;
        color: #fff; }

.bgimg-3 {
  min-height: 400px;
  background-image: url("../images/argyle.jpg"); }
  .bgimg-3 .work {
    position: absolute;
    left: 0;
    top: 15%;
    width: 100%;
    text-align: center;
    color: #000;
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center; }
    .bgimg-3 .work .company {
      background-color: #111;
      color: #fff;
      padding: 18px;
      font-size: 25px;
      letter-spacing: 5px; }
    .bgimg-3 .work .title {
      color: #fff;
      position: relative;
      margin: 10px auto; }
    .bgimg-3 .work .description {
      width: 65%;
      background-color: rgba(255, 255, 255, 0.75);
      padding: 18px; }

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000; }

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px; }

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111; }

.divider {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 25px 80px;
  text-align: justify; }

/* Turn off parallax scrolling for tablets and phones */
/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both, blinkTextCursor 500ms steps(40) infinite normal; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 18em; } }
@keyframes blinkTextCursor {
  from {
    border-right-color: orange; }
  to {
    border-right-color: transparent; } }

/*# sourceMappingURL=styles.css.map */
