section {
  height: 100vh;
  font-family: "Oxygen", sans-serif;
  vertical-align: middle;
  display: table;
  width: 100%;
  background: #f4f5f6; }

.btn-project {
  border-width: 2px;
  border-image: url("assets/bluegradient.png") 30 stretch; }

.btn-work {
  border-width: 2px;
  border-image: url("assets/pinkgradient.jpg") 30 stretch; }

.btn-race {
  border-width: 2px;
  border-image: url("assets/greengradient.jpg") 30 stretch; }

.btn-theme {
  border-radius: 0px;
  background: #f4f5f6;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 2px; }
  .btn-theme:active {
    border: black solid buttonHoverBorder;
    margin: 1px; }
  .btn-theme:focus {
    outline: none; }

.map-canvas {
  height: 70%;
  width: 80%;
  margin: auto; }

.cover h1 {
  padding-top: 30vh; }

.content h1 {
  padding: 5vh; }

.splash {
  /*display: block;*/
  /*height: 1000px;*/
  /*height: 395px;*/
  min-height: 100%;
  width: 100%;
  background: url("assets/background4.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0; }

modal-overlay {
  top: 100px !important; }

.modal > * {
  font-family: "Oxygen"; }
  .modal > * .modal-content {
    border-radius: 0; }
  .modal > * modal-footer {
    display: none; }

.modal-backdrop {
  background-image: url("assets/pinkgradient.jpg"); }

.fade {
  transition: 0.25s linear; }

.projects-container {
  display: flex;
  flex-wrap: wrap; }

.card {
  display: inline-block;
  position: relative;
  width: 24%;
  min-height: 100%;
  font-weight: 400;
  height: 70vh;
  transition: border .5s ease-in-out;
  transition: border-image .5s ease-in-out;
  transition: opacity .1s ease-in-out,-webkit-transform .1s ease-in-out;
  transition: transform .1s ease-in-out,opacity .1s ease-in-out;
  transition: transform .1s ease-in-out,opacity .1s ease-in-out,-webkit-transform .1s ease-in-out;
  text-align: center;
  border: 1px solid transparent;
  margin: 4px; }
  .card:hover {
    border: 1px solid transparent;
    border-image: url("assets/bluegradient.png") 4 stretch stretch;
    background: linear-gradient(180deg, #e0e2e6, #fff);
    transition: background 1000ms linear; }
  @media screen and (max-width: 768px) {
    .card {
      width: 95%;
      float: none; } }

.u-LinkBtn {
  padding: 10px; }
  .u-LinkBtn:hover {
    text-decoration: none; }
  .u-LinkBtn .title {
    display: inline-block;
    margin-right: 1px;
    background: #9da0a5;
    color: #fff;
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    padding: 4px 8px;
    font-weight: 600;
    letter-spacing: -.5px; }
  .u-LinkBtn .date {
    text-align: left;
    color: black; }
  .u-LinkBtn .project-body {
    background: transparent;
    color: black;
    border: none !important; }
    .u-LinkBtn .project-body .type {
      font-weight: 100;
      font-size: 10px; }
    .u-LinkBtn .project-body .squished {
      margin-left: 10%;
      margin-right: 10%; }
    .u-LinkBtn .project-body .description {
      height: 10vh; }

.quotimoti {
  background: url("assets/quotimoti.png") no-repeat; }

.wordsensor {
  background: url("assets/wordsensor.png") no-repeat; }

.wheretorun {
  background: url("assets/whereshouldirun.png") no-repeat; }

.findthecountry {
  background: url("assets/findthecountry.png") no-repeat; }

.quotimoti, .wordsensor, .wheretorun, .findthecountry {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20vh;
  /* Change to the height you need */ }

.banner-back {
  float: left;
  padding-left: 10px;
  position: absolute; }

.work-header {
  border-bottom: 2px solid transparent;
  border-image: url("assets/pinkgradient.jpg") 4 stretch stretch; }

.projects-header {
  border-bottom: 2px solid transparent;
  border-image: url("assets/bluegradient.png") 4 stretch stretch; }

.races {
  color: green; }

.highlight {
  color: #EF9A9A; }

/*# sourceMappingURL=styles.css.map */
