<section class="section cover">
  <header class="navbar navbar-static-top bs-docs-nav" id="header" role="banner">

    <h5 routerLink="/" [style.padding]="'10px'">
      <i class="fa fa-angle-double-left" aria-hidden="true"></i>
      home
    </h5>

    <h2> Projects</h2>
  </header>
  <br/>
  <!-- <div class="row"> -->
    <!-- <div class="col-lg-3"  *ngFor="let project of projects"> -->
    <div *ngFor="let project of projects" class="card">
      <project-card [project]="project" ></project-card>
    </div>
      <!-- <div class="card">
        {{project.title}}
      </div> -->
    <!-- </div> -->
  <!-- </div> -->

</section>
