
<a href="{{project.link}}" class="IndexFamilies-gridItem u-LinkBtn">
  <div class="IndexFamilies-gridItem-modifiers clearfix">

    <span class="title pull-left"> {{project.title}}</span>

    <!-- <div class=""> -->
    <div [className]="project.img"> </div>
  <!-- </div> -->

  <h6 class="date">{{project.date}}</h6>
    <div class="project-body">
      <div class="type">{{project.type}}</div>
      <br />
      <div class="squished description" >
        {{project.description}}
      </div>
      <br />
      <div class="type">Technologies</div>
      <div class="squished">
        <span *ngFor="let tech of project.technologies; let last = last">
          {{tech}} <span *ngIf="!last"> / </span>
        </span>
      </div>
    </div>
  </div>
</a>
