$fontDefault: 'Oxygen';
// $bgColor: white;
$bgColor: #f4f5f6;
$buttonSidePadding: 20px;
$buttonVertPadding: 10px;
$borderWidth: 1px;
$buttonBorder: 2px;
$pinkGradient: url("assets/pinkgradient.jpg");
$blueGradient: url("assets/bluegradient.png");
$greenGradient: url("assets/greengradient.jpg");

section {
  height: 100vh;
  font-family: $fontDefault, sans-serif;
  vertical-align: middle;
  display: table;
  width: 100%;
  background: $bgColor;
}

.btn-project {
  // &:hover {
  border-width: $buttonBorder;
  border-image: $blueGradient  30 stretch;
  // }
}
.btn-work {
  // &:hover {
  border-width: $buttonBorder;
  border-image: $pinkGradient 30 stretch;
  // }
}

.btn-race {
  // &:hover {
  border-width: $buttonBorder;
  border-image: $greenGradient 30 stretch;
  // }
}

.btn-theme {

	border-radius: 0px;
	background: $bgColor;
	padding-left: $buttonSidePadding;
	padding-right: $buttonSidePadding;
	padding-top: $buttonVertPadding;
	padding-bottom: $buttonVertPadding;
	margin:2px;

	&:visited { }

  &:active {
		border: black solid buttonHoverBorder;
		margin:1px;

	}
	&:focus{
		outline: none;
	}
}

.map-canvas{
    height: 70%;
    width: 80%;
    margin: auto

}

.cover h1 {
    padding-top: 30vh;
  }

.content h1{
  padding: 5vh;
}

.splash {
	/*display: block;*/
	/*height: 1000px;*/
	/*height: 395px;*/
	min-height: 100%;
	width: 100%;
	background: url('assets/background4.svg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
}

modal-overlay {
  top: 100px !important;
}

.modal > * {
  font-family: $fontDefault;

  .modal-content {
    border-radius: 0;
  }

  modal-footer{
    display: none;
  }
}

.modal-backdrop {
  background-image: $pinkGradient;
}

.fade {
  transition: 0.25s linear;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
    display: inline-block;
    position: relative;
    width: 24%;
    min-height: 100%;
    font-weight: 400;
    height: 70vh;
    transition: border .5s ease-in-out;
    transition: border-image .5s ease-in-out;
    transition: opacity .1s ease-in-out,-webkit-transform .1s ease-in-out;
    transition: transform .1s ease-in-out,opacity .1s ease-in-out;
    transition: transform .1s ease-in-out,opacity .1s ease-in-out,-webkit-transform .1s ease-in-out;
    // margin: 10px;
    text-align: center;
    border: 1px solid transparent;
    margin: 4px;

    &:hover {
      border: 1px solid transparent;
      border-image: $blueGradient 4 stretch stretch;
      background: linear-gradient(180deg,#e0e2e6,#fff);
      transition: background 1000ms linear;
      // transition: border 0.25s ease-in, background 1000ms linear;
    }
    @media screen and (max-width: 768px) {
     width: 95%;
     float: none;
   }
}
.u-LinkBtn{
  padding: 10px;
  &:hover {
    text-decoration:  none;
  }

  .title{
    display: inline-block;
    margin-right: 1px;
    background: #9da0a5;
      color: #fff;
    text-align: left;
    // float: left;
    font-size: 20px;
    text-transform: uppercase;
    padding: 4px 8px;
    font-weight: 600;
    letter-spacing: -.5px;
  }
  .date{
    text-align: left;
    color: black;
  }

  .project-body{
    background: transparent;
    color: black;
    border: none !important;
    .type {
      font-weight:100;
      font-size: 10px;
    }
    .squished {
      margin-left: 10%;
      margin-right: 10%;
    }
    .description {
      height: 10vh;
    }
  }

}

$projectImageHeight: 20vh;

.quotimoti {
  background: url("assets/quotimoti.png") no-repeat;
}

.wordsensor {
  background: url("assets/wordsensor.png") no-repeat;
}

.wheretorun {
  background: url("assets/whereshouldirun.png") no-repeat;
}

.findthecountry {
  background: url("assets/findthecountry.png") no-repeat
}

.quotimoti, .wordsensor, .wheretorun, .findthecountry {
  background-size: cover;
  background-position: center;
  width:100%;
  height: $projectImageHeight; /* Change to the height you need */
}


//HEADER STUFF
.banner-back {
  float: left;
  padding-left: 10px;
  position: absolute;
}
.work-header{
  border-bottom: 2px solid transparent;
  border-image: $pinkGradient 4 stretch stretch;
}
.projects-header{
  border-bottom: 2px solid transparent;
  border-image: $blueGradient 4 stretch stretch;
}


.races {
  color: green;
}
